
h3 {
    color: blueviolet;
}
/* div{
    background-color:azure;
    margin-left:50%;
    width: 200px;
    height: 100px;
    padding: 20px;
} */
.dem{
    color:sienna;
}
.doan{
    background-color:rgb(240, 204, 240);
    padding: 20px;
    border-radius: 20px;
}
.can{
    background-color:#ffffff;
    /* margin-left:100px; */
    margin: 100px 900px 100px 900px;
    padding: 20px;
    border-radius: 20px;
}
body{
    background-color: rgb(203, 189, 170);
}
li{
    color:sienna;
}
li p {
    color: black;
}
p {
    padding: 10px;
}